<div class="conversation" id="c<%= conversation.id %>">
	<div class="conversation_bg"></div>

	<div class="conversation_header">
		<div class="conversation_header_bg"></div>
		<div class="bullet_symbol"><%= conversation.id.to_s() %></div>
		<div class="conversation_label" >
			<%= conversation.title %>
		</div>
		
		<!--div class="conversation_stat">
			<%=  pluralize(conversation.posts.count, "post") %>
		</div-->
		<% if conversation.conversationable_type == "Project" %>
			<% if current_user?(conversation.conversationable.users[0]) %>
				<div class="right_bullet_symbol"></div>
				<div class="conversation_stat">
				    <%= link_to "remove", conversation, method: :delete, :remote => true,
				                                     data: { confirm: "You sure?" },
				                                     title: conversation.title %>
				</div>
		  <% end %>
		<% else %>
			<% if current_user?(conversation.conversationable.user) %>
				<div class="right_bullet_symbol"></div>
				<div class="conversation_stat">
				    <%= link_to "remove", conversation, method: :delete, :remote => true,
				                                     data: { confirm: "You sure?" },
				                                     title: conversation.title %>
				</div>
		  <% end %>
		<% end %>
		
	</div>
	

	<div class="posts_frame">
		<% if conversation.posts.any? %>
		    <%= render conversation.posts %>
		<% end %>	
		<%= render 'shared/post_form', conversation: conversation %>
	</div>
</div>

