<div class="column" id="c<%= conversation.id %>">
<div class="column_innerframe">


	

	


	<!--
			<% if conversation.conversationable_type == "Project" %>
				<% if current_user?(conversation.conversationable.users[0]) %>
					<div class="right_bullet_symbol"></div>
					<div class="conversation_stat">
					    <%= link_to "remove", conversation, method: :delete, :remote => true,
					                                     data: { confirm: "You sure?" },
					                                     title: conversation.title %>
					</div>
			  <% end %>
			<% else %>
				<% if current_user?(conversation.conversationable.user) %>
					<div class="right_bullet_symbol"></div>
					<div class="conversation_stat">
					    <%= link_to "remove", conversation, method: :delete, :remote => true,
					                                     data: { confirm: "You sure?" },
					                                     title: conversation.title %>
					</div>
			  <% end %>
			<% end %>
		
		</div>
	
	-->
			<%= render 'shared/post_form', conversation: conversation %>

			<% if conversation.posts.any? %>
			    <%= render conversation.posts %>
			<% end %>	
		
</div>
			
</div>

