<div class="conversation" id="c<%= conversation.id %>">
	<div class="conversation_bg"></div>

	<div class="conversation_header">
		<div class="conversation_header_bg"></div>
		<div class="bullet_symbol"><%= conversation.id.to_s() %></div>
		<div class="conversation_label" >
			<%= conversation.title %>
			<% if current_user?(conversation.conversationable.user) %>
		    <%= link_to "remove", conversation, method: :delete, :remote => true,
		                                     data: { confirm: "You sure?" },
		                                     title: conversation.title %>
		  <% end %>
		</div>
		<div class="conversation_stat">
			<%=  pluralize(conversation.posts.count, "post") %>
		</div>
	</div>
	

	<div class="posts_frame">
		<% if conversation.posts.any? %>
		    <%= render conversation.posts %>
		<% end %>	
		<%= render 'shared/post_form', conversation: conversation %>
	</div>
</div>

