<div class="conversation" id="<%= conversation.id %>">
	<%= conversation.title %>
	
	<% if current_user?(conversation.conversationable.user) %>
    <%= link_to "remove", conversation, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: conversation.title %>
  <% end %>

	<%= conversation.posts.any? %>
	<%= conversation.posts.count %>


	<%= render 'shared/post_form', conversation: conversation %>


	<% if conversation.posts.any? %>
	    Posts (<%= conversation.posts.count %>)

	    <%= render conversation.posts %>

	<% end %>

</div>