<div class="info_conversation" id="u<%= @user.id %>">


	<div class="conversation_header">

		<div class="bullet_symbol">u<%= @user.id.to_s() %></div>

		<div class="conversation_label" >
			<%= @user.firstname.downcase.capitalize + " " + @user.lastname.downcase.capitalize %>
		</div>
		
		<% if signed_in? %>
			<% if current_user?(@user) %>
				<%= link_to "new project!", newproject_path %>

			<% end %>
		<% end %>
	

	</div>
	<div class="posts_frame">
			
			<div class="protected_post" id="picture"><div class="postInnerFrame"><div class="protected_post_bg"></div>
					<div class="protected_post_header"><div class="protected_post_header_bg"></div>
						<div class="protected_post_label">picture</div>
						<div class="post_timestamp"></div>
					</div>
					<div class="post_content_frame">
						<div class="protected_post_content">

						</div>
					</div>
					<div class="protected_post_footer"><div class="post_footer_label">

					</div></div>
				</div>
			</div>


			<div class="protected_post" id="associates"><div class="postInnerFrame"><div class="protected_post_bg"></div>
					<div class="protected_post_header"><div class="protected_post_header_bg"></div>
						<div class="protected_post_label">associates</div>
						<div class="post_timestamp"></div>
					</div>
					<div class="post_content_frame">
						<div class="protected_post_content">
							<% if @user.users.any? %>
					      <% @user.users.each do |user| %>
									<% if @user != user %>
										<%= link_to user.firstname.downcase + "." + user.lastname.downcase , user_path(user) %><br>
									<% end %>
								<% end %>
					    <% end %>
						</div>
					</div>
					<div class="protected_post_footer"><div class="post_footer_label">
						<% if @user.users.include?(@user) %>
							<%= pluralize( @user.users.count - 1, "person") %>
						<% else %>
							<%= pluralize( @user.users.count, "person") %>
						<% end %>
						 
					</div></div>
				</div>
			</div>
			
			<div class="protected_post" id="projects"><div class="postInnerFrame"><div class="protected_post_bg"></div>
					<div class="protected_post_header"><div class="protected_post_header_bg"></div>
						<div class="protected_post_label">projects</div>
						<div class="post_timestamp"></div>
					</div>
					<div class="post_content_frame">
						<div class="protected_post_content">
							<% if @user.projects.any? %>
					      <% @user.projects.each do |project| %>
									<%= link_to project.name, project_path(project) %><br>
								<% end %>
					    <% end %>
						</div>
					</div>
					<div class="protected_post_footer"><div class="post_footer_label">
						<%= pluralize( @user.projects.count, "project") %>
					</div></div>
				</div>
			</div>
			
			<div class="protected_post" id="contact"><div class="postInnerFrame"><div class="protected_post_bg"></div>
					<div class="protected_post_header"><div class="protected_post_header_bg"></div>
						<div class="protected_post_label">contact</div>
						<div class="post_timestamp"></div>
					</div>
					<div class="post_content_frame">
						<div class="protected_post_content">
							asmith@gmail.com</br>
							linkedin.com/asmith</br>
							github.com/asmith
						</div>
					</div>
					<div class="protected_post_footer"><div class="post_footer_label">4 wikis</div></div>
				</div>
			</div>

			<%= render 'stats' %>



	</div>
	
	
	<div class="conversation_frame"></div>
</div>
