<% provide(:title, 'signup') %>


<div id="formFrame">
	  	<%= link_to image_tag("logo.png", alt: "coz", id: "logoSingUp"), root_path %>

	    <%= form_for(@user) do |f| %>
	
	      <%= render 'shared/error_messages' %>

	      <%= f.text_field :firstname, :placeholder => "first" %>

	      <%= f.text_field :lastname, :placeholder => "last" %>

	      <%= f.text_field :email, :placeholder => "email" %>

	      <%= f.password_field :password, :placeholder => "password" %>
				
				<div id="agreementButton"></div>
				
	      <%= f.submit "signup", {  id: "submitSignUp" } %> 
	    <% end %> 

</div>	
