<% provide(:title, 'signup') %>


<div id="formFrame">
	
			<%= image_tag("logo.png", alt: "coz", id: "logoSingUp") %>

	    <%= form_for(@user) do |f| %>
	
	      <%= render 'shared/error_messages' %>

	      <%= f.text_field :firstname %>

	      <%= f.text_field :lastname %>

	      <%= f.text_field :email %>

	      <%= f.password_field :password %>
				
				<div id="agreementButton">I agree to the mfn conditions</div>
				
	      <%= f.submit "sign up", {  id: "submitSignUp" } %> 
	    <% end %> 

</div>	
