<% provide(:title, @user.firstname.downcase) %>

<!--h1>
  <%= gravatar_for @user %>
  <%= @user.firstname %> <%= @user.lastname %>
</h1-->


			<%= render 'user_information' %>

			<div class="column">

			<% if @user.posts.any? %>
	      <%= will_paginate @posts %>
				
	      <%= render @posts %>
	      
	    <% end %>
	
			</div>


