<% provide(:title, @user.firstname.downcase) %>

<!--h1>
  <%= gravatar_for @user %>
  <%= @user.firstname %> <%= @user.lastname %>
</h1-->
<%= render 'user_information' %>
<div id="gridFrame">
	

			<div class="grid_list">

			<% if @user.posts.any? %>
	   		
	      <%= render @posts %>
	      
	    <% end %>
	
		</div>
	</div>


