


<div class="post" id="new_conversation_form">
	<div class="postInnerFrame">
		<div class="new_post_bg"></div>
		
		<div class="new_post_header">	
			<div class="new_post_header_bg"></div>
			
			<div class="new_post_label">
				new thread 
			</div>
			<div class="post_timestamp">

			</div>
		</div>
		<div class="post_content_frame">
			<%= form_for(@conversation, :remote => true) do |f| %>
			  <%= render 'shared/error_messages', object: f.object %>

			  <%= f.text_area :title, :id => "post_field", placeholder: "(140 chars max)" %>

			  <%= f.hidden_field :conversationable_id , :value => conversationable.id  %>
				<%= f.hidden_field :conversationable_type, :value => conversationable.class.name.sub("Controller", "").singularize %>
		</div>

		<div class="new_post_footer">

				<%= f.submit ">submit", {  id: "submitPost" } %> 

		</div>
	</div>

</div>




			<% end %>