


<div class="post" id="new_conversation_form">
	<div class="postInnerFrame">
	
		<%= form_for(@conversation, :remote => true) do |f| %>
		<div class="new_post_bg"></div>
		
		<div class="new_conversation_header">	
			<div class="new_post_header_bg"></div>
			
			<%= f.submit ">new.thread", {  id: "submitPost" } %> 
		</div>
		<div class="new_post_content_frame">

			  <%= render 'shared/error_messages', object: f.object %>

			  <%= f.text_area :title, :id => "post_field", placeholder: "(140 chars max)" %>

			  <%= f.hidden_field :conversationable_id , :value => conversationable.id  %>
				<%= f.hidden_field :conversationable_type, :value => conversationable.class.name.sub("Controller", "").singularize %>
		</div>

	</div>

</div>




			<% end %>