<!--<div class="right_bullet_symbol"></div> -->

<%= form_for(@post, :remote => true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
	<%= f.submit "Post", {  id: "submitPost" } %> 
  <%= f.text_field :content, :id => "post_field", placeholder: "Compose new post..." %>
	<%= f.hidden_field :conversation_id, :value => conversation.id  %>


<% end %>


