<div id="protectedFrame">
	<div class="column menu" id="p<%= @project.id %>">
			<%= render 'projects/dashboard/calendar' %>
			<%= render 'projects/dashboard/archive' %>
			<%= render 'projects/dashboard/tickets' %>
			<%= render 'projects/dashboard/team' %>
	</div>
</div>

