<div class="info_conversation" id="project<%= @project.id %>">
	<div class="conversation_bg"></div>


	<div class="conversation_header">
		<div class="conversation_header_bg"></div>
		<div class="bullet_symbol">p<%= @project.id.to_s() %></div>

		<div class="conversation_label" >
			<%= @project.name.downcase.capitalize %>
		</div>
		
		<!--div class="conversation_stat">
			<%=  pluralize(@project.conversations.count , "thread") %>
		</div-->
		<div class="right_bullet_symbol"></div>
		<div class="conversation_stat">
			<% if current_user?(@project.users[0]) %>
				<%= link_to "remove", @project, method: :delete,
			                                  data: { confirm: "You sure?" } %>
			<% end %>
		</div>

	</div>
	<div class="posts_frame">

		<%= render 'projects/dashboard/index' %>
		<%= render 'projects/dashboard/team' %>
		<%= render 'projects/dashboard/tickets' %>
		<%= render 'projects/dashboard/calendar' %>
		<%= render 'projects/dashboard/stats' %>
		
		<div class="arrow-up-frame arrow"></div>
		<div class="arrow-up-body arrow"></div>
	</div>
	
	
	<div class="conversation_frame"></div>
</div>
