<div class="post" id="p<%= post.id %>">	
	<div class="postInnerFrame">
		<div class="post_bg"></div>
		<div class="post_header">	
			<div class="post_header_bg"></div>
			
	 		<%= link_to post.user do %>
				<div class="post_label">
					<%= post.user.firstname[0].downcase + "." + post.user.lastname.downcase %>
				</div>
			<% end %>
			<div class="post_timestamp">
				<%if post.created_at < Time.now.beginning_of_year() %>
					<%= post.created_at.strftime("%m/%d/%y") %>
				<%elsif post.created_at < Time.now.beginning_of_day() %>
					<%= post.created_at.strftime("%m/%d") %>
				<%else %>
					<%= post.created_at.strftime("%H:%M") %>
				<%end %>
			</div>
		</div>
		<div class="post_content_frame"><div class="post_content"><%= post.content %></div></div>

		<%= link_to post.child_conversation, :method => :get, :remote=>true, :class=>'get_post' do %>
			<div class="post_footer">
				<div class="post_footer_label">
					<%= pluralize(post.cumulative_post_count, "post") %>
				</div>
			</div>
		<% end %>
	</div>

</div>

