
<header class="header">
  <% if signed_in? %>
		<%= link_to image_tag("logo.png", alt: "coz", id: "logo"), user_path(current_user) %>
	<% else %>
		<%= link_to image_tag("logo.png", alt: "coz", id: "logo"), root_path %>
	<% end %>
	
	<%= link_to(users_path) do %>   
		<div class="nav_link nav_left">people</div>
	<% end %>
	<%= link_to(projects_path) do %>   
		<div class="nav_link nav_left">projects</div>
	<% end %>

	<div class="nav_link nav_right">
		<navText id="downArrow">></navText>
		<navText><%= current_user.firstname.downcase + "." + current_user.lastname.downcase %></navText>
	</div>

  <!--% if signed_in? %>
		<%= link_to(signout_path, method: "delete") do %>   
			<div class="nav_link nav_right">logout</div>
		<% end %>
		<%= link_to(edit_user_path(current_user) ) do %>   
			<div class="nav_link nav_right">settings</div>
		<% end %>

	<% else %>
		<%= link_to "Sign in", signin_path %>
  <% end %-->




</header>