<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<%= render 'layouts/shim'%>
	<script src="jquery.ui.touch-punch.min.js"></script>
</head>
<body>

	
		<% if current_page?(:controller => 'static_pages', :action => 'splash') %>
		<% elsif current_page?(:controller => 'users', :action => 'new') %>
		<% elsif current_page?('/signup') %>
		<% elsif current_page?(:controller => 'sessions', :action => 'new') %>
		<% elsif current_page?('/signin') %>
		<% else %>
			<%= render 'layouts/header'%>
		<% end %>
	

			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %>"><%= value %></div>
			<% end %>
      <%= yield %>

		<%= render 'layouts/footer'%>
	
</body>
</html>

<!--
	 <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
    					<nav>
            <ul class="nav pull-right">
            </ul>
          </nav>
        </div>
      </div>
    </header>
-->